.logo {
  height: 32px;
  width: auto;
}

.navbar-nav .nav-link {
  color: white !important;
  font-weight: 500;
  margin-left: 15px;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.loginbtn {
  font-weight: 500;
  color: #ffffff;
  background-color: #002169;
}
.bg-primary {
  background-color: #0642c2 !important;
}
.bi {
  color: #7dff69;
  font-size: 110%;
}

/* Optional enhancement for dropdown items */
.services-menu .dropdown-item {
  border-bottom: 1px solid #242424;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #000;
}

.services-menu .dropdown-item:last-child {
  border-bottom: none;
}

.services-menu .dropdown-item i {
  font-size: 1.3rem;
}
