<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-4">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="/assets/logo.png" alt="" class="logo me-2" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['']"> Home </a>
        </li>
        <li class="nav-item d-none">
          <a class="nav-link" [routerLink]="['about']"> About us </a>
        </li>
        <li class="nav-item dropdown">
          <!-- Dropdown for Services -->
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="servicesDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Services
          </a>
          <ul
            class="dropdown-menu services-menu"
            aria-labelledby="servicesDropdown"
          >
            <li class="d-none">
              <a
                target="_blank"
                class="dropdown-item d-flex align-items-center"
                href="http://academy.grealm.org"
              >
                <i class="bi bi-mortarboard-fill text-primary me-2"></i> Academy
              </a>
            </li>
            <li class="">
              <a
                class="dropdown-item d-flex align-items-center"
                [routerLink]="['/kids']"
              >
                <i class="bi bi-camera-video-fill text-primary me-2"></i>
                Animation Studio
              </a>
            </li>
            <li>
              <a
                class="dropdown-item d-flex align-items-center"
                [routerLink]="['/schools']"
              >
                <i class="bi bi-gift-fill text-primary me-2"></i> School
                Packages
              </a>
            </li>
            <li>
              <a
                class="dropdown-item d-flex align-items-center"
                [routerLink]="['/businesses']"
              >
                <i class="bi bi-briefcase-fill text-primary me-2"></i> Business
                Services
              </a>
            </li>
            <li class="d-none">
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-pen-fill text-primary me-2"></i> Graphic Design
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/shop']"> Shop </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/kids']"> Kids' World </a>
        </li>
        <li class="nav-item">
          <button class="btn loginbtn ms-3" [routerLink]="['/login']">
            <i class="bi bi-person-circle me-1"></i> Login
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
