<div>
  <h2 class="text-center py-5 display-1"><i class="bi bi-lock-fill"></i></h2>
  <p class="p-3 text-center alert alert-danger text-black fw-bold">
    To Create a Client Account, Kindly
    <a href="/shop" class="text-decoration-underline">make a purchase</a>
  </p>
  <form (ngSubmit)="sendOtp()" class="mb-5">
    <input
      type="text"
      class="text-center"
      id="emailOrPhone"
      [(ngModel)]="emailOrPhone"
      name="emailOrPhone"
      placeholder="Your registered Email or Phone"
      required
    />

    <button type="submit" [disabled]="loading">
      <span *ngIf="!loading">Send OTP</span>
      <span *ngIf="loading">Sending...</span>
    </button>
  </form>
  <p>{{ message }}</p>
</div>
