<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 row">
    <div class="col-md-12">
      <h2 class="fw-bold p-3 display-2 fw-bold text-pink">About Us</h2>
      <p class="p-3 abouttext">
        <strong>G-Realm</strong> was conceived on 31 July 2015 at Christ's Heart
        Ministries Mukono during a prayer overnight. It was then that God said
        <i class="Godsaid fw-bold">
          "Behold, I have given to you the Education System of Africa."
        </i>

        <br />
        <strong> G-Realm Studio</strong> was registered as a business on
        26-March-2025. Check out our products and services. Thank you.
      </p>
      <p class="text-pink p-3 pt-0 abouttext">Jesus Christ is LORD !</p>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="row col-md-8">
        <div class="col-md-6">
          <div class="m-1 p-3">
            <div class="p-5 img-bg rounded-circle">
              <img
                src="/assets/alfredochola.png"
                class="img-fluid rounded-circle"
                alt=""
                srcset=""
              />
            </div>

            <div class="text-body">
              <h4 class="person text-center p-3">Alfred Ochola</h4>
              <p class="text-center p-3">Founder & CEO</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="m-1 p-3">
            <div class="p-5 img-bg rounded-circle">
              <img
                src="/assets/claireochola.png"
                class="img-fluid rounded-circle"
                alt=""
                srcset=""
              />
            </div>

            <div class="text-body">
              <h4 class="person text-center p-3">Claire Ochola</h4>
              <p class="text-center p-3">Co-Founder, ED</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
