<div class="kids-container">
  <h1 class="kids-header">G-Realm Kids' Project</h1>

  <div class="about-section">
    <img src="/assets/logo.png" alt="G-Realm Logo" />
    <div class="about-text">
      <p>
        The
        <span style="color: var(--kids-secondary)">G-Realm Kids' Project</span>
        creates fun 3D animated videos to help kids in Uganda and Africa learn
        to read. We want to make learning a joyful adventure!
      </p>
    </div>
  </div>

  <h2 class="section-title">Watch Our Videos!</h2>

  <!-- New button for YouTube Channel -->
  <div class="text-center mb-4">
    <a
      href="https://www.youtube.com/channel/UC8twODp1kJ1sc5n9F_GM5IA"
      target="_blank"
      class="btn btn-danger btn-lg"
    >
      <i class="bi bi-youtube me-2"></i>Our YouTube Channel
    </a>
  </div>
  <div class="video-gallery">
    <div class="video-item">
      <iframe
        src="https://www.youtube.com/embed/WSs2fUP-gZk"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="video-item">
      <iframe
        src="https://www.youtube.com/embed/rjDy0za0Kzo"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <h2 class="section-title">Photo Gallery</h2>

  <div class="image-gallery">
    <img
      *ngFor="let image of galleryImages"
      [src]="image"
      class="gallery-image"
      alt="Gallery Image"
      (click)="openImageModal(image)"
    />
  </div>

  <!-- Modal for Image Preview -->
  <div class="image-modal" *ngIf="selectedImage" (click)="closeImageModal()">
    <div class="modal-content">
      <span class="close-modal" (click)="closeImageModal()">&times;</span>
      <img [src]="selectedImage" class="modal-image" alt="Preview Image" />
      <button
        class="modal-nav prev-btn"
        (click)="$event.stopPropagation(); showPreviousImage()"
      >
        &#10094;
      </button>
      <button
        class="modal-nav next-btn"
        (click)="$event.stopPropagation(); showNextImage()"
      >
        &#10095;
      </button>
    </div>
  </div>
</div>
