/* Kids-themed video styling */
video {
  border: 10px solid lightgreen; /* Light green border */
  padding: 2px; /* Padding around the video */
  background-color: rgb(71, 198, 36);
}

.kidsbg {
  background-color: rgb(255, 228, 232); /* Pink background for the container */
}
.kidsheader {
  color: rgb(255, 255, 255);
  background-color: rgb(106, 182, 13);
}

video::-webkit-media-controls {
  color: lightgreen; /* Light green controls */
}
.photo {
  margin-bottom: 20px;
}
.abouttext {
  padding: 20px;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 10px;
  font-size: 26px;
}
.gallerytext {
  padding: 20px;

  font-size: 26px;
}

/* Add hover effect for gallery images */
.gallery-item {
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.1);
}
