<div class="kidsbg">
  <h1 class="text-dark fw-bold text-center p-3 p-md-5">
    G-Realm Kids' Project
  </h1>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-6 px-md-5 text-center">
      <div class="">
        <video class="w-100" controls>
          <source src="/assets/videos/reading.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div class="col-md-6">
      <div class="abouttext mx-md-5">
        <h1 class="text-danger fw-bold p-3">About us</h1>

        <p class="p-3">
          <span class="text-dark fw-bold">G-Realm Kids' Project</span> entails
          creating captivating 3D animated videos to boost literacy among
          children in Uganda and Africa. Our mission is to make learning fun,
          accessible, and transformative, empowering young minds for a brighter
          future. We also incorporate original African music compositions to
          celebrate and preserve the rich cultural heritage of the continent.
        </p>
      </div>
    </div>
  </div>
  <h1 class="text-dark fw-bold text-center p-3">Gallery</h1>

  <p class="p-3 gallerytext text-center">
    See below some photos from one of our Album recording sessions with the
    kids.
  </p>

  <div class="row px-md-5 px-3 pb-5 g-3" id="photo-gallery">
    <div class="col-6 col-md-4" *ngFor="let image of galleryImages">
      <div class="photo">
        <img
          [src]="image"
          class="img-fluid gallery-item"
          alt="Gallery Image"
          (click)="openImageModal(image)"
        />
      </div>
    </div>
  </div>

  <!-- Modal for Image Preview -->
  <div
    class="modal fade show"
    tabindex="-1"
    role="dialog"
    [ngClass]="{ 'd-block': selectedImage }"
    *ngIf="selectedImage"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <img
            [src]="selectedImage"
            class="img-fluid w-100"
            alt="Preview Image"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeImageModal()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
