<div class="row py-5 text-center m-0">
  <div class="text-center m-0">
    <h3 class="gtitle2">WHO WE ARE</h3>
    <img src="images/gallery/1.jpg" class="img-fluid" />
    <p class="text-left pt-5">
      G-Realm studio was founded by Alfred Ochola and his beautiful wife Mrs.
      Claire Ochola.
    </p>
    <p class="text-left pb-1">
      Together, they have a burning desire to equip all the young children of
      Africa with knowledge and practical life skills, and to raise them to
      become God-loving and God-fearing people. This way, they will make Africa
      and the world at large a beatiful place for everybody to live in. We
      believe in and stand for the LORD and Saviour of all mankind: Jesus
      Christ, the son of God.
    </p>
    <p class="text-left pb-3">
      Claire has a bachelors degree in music while Alfred is a software and
      computer art specialist. Our team has other key contributors like D.J
      Tonny, Don Stuart, Joel, Prosper International, the G-Realm kids (Agaba,
      Precious, Patience, Paroma, Timothy, Annet) and many more wonderful
      people.
    </p>
    <h3 class="gtitle3">Support</h3>
    <p class="text-left pb-3">
      You can support us by buying our products, or simply making a donation of
      <a href="equipment.html"> equipment </a> or
      <a href="partner.html"> money </a>
    </p>
  </div>
</div>
