<nav class="bg-light row m-0 gtitle">
  <div class="col-md-12">
    <h1 class="text-center py-1">
      <button class="btn gbutton dropdown">
        <a
          class="dropdown-toggle"
          href="#"
          id="dropdown01"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fa-solid fa-bars text-light"></i>
          Menu</a
        >
        <ul class="dropdown-menu" aria-labelledby="dropdown01">
          <li>
            <a class="dropdown-item" href="products.html"
              ><i class="fa-solid fa-shopping-cart text-warning"></i>
              Products</a
            >
          </li>

          <li>
            <a class="dropdown-item" href="partner.html">
              <i class="fa-solid fa-circle-dollar-to-slot text-warning"></i>
              Donate</a
            >
          </li>
          <!------------     <li>
            <a class="dropdown-item" href="audio.html">
              <i class="fa-solid fa-play text-warning"></i>
              Audio Productions</a
            >
          </li>   -------->
          <li>
            <a class="dropdown-item" href="gallery.html">
              <i class="fa-solid fa-image text-warning"></i>
              Picture Gallery</a
            >
          </li>

          <li>
            <a class="dropdown-item" href="index.html">
              <i class="fa-solid fa-home text-warning"></i>
              home</a
            >
          </li>
        </ul>
      </button>
    </h1>
  </div>
</nav>
