<div class="container-fluid row ps-md-5">
  <div class="conteiner-fluid row">
    <div class="col-md-8 col-sm-12">
      <h3 class="gtitle2 pt-3">THE VISION</h3>
      <p class="gtext justify-content pb-3">
        A Godly, Spirit-filled and highly skilled African child.
      </p>
      <p class="text-left">
        <button
          class="btn gbutton1"
          onclick="window.location.href='animations.html'">
          Animation Phases
        </button>
      </p>
    </div>
    <div class="col-md-4 text-center"></div>
  </div>
</div>
