<div class="container-fluid py-5 p-3 bg-black text-white">
  <div class="row align-items-center">
    <div class="col-md-6 text-center p-3 p-md-5">
      <img
        src="/assets/business.png"
        alt="Company Services"
        class="img-fluid"
      />
    </div>
    <div class="col-md-6 text-left">
      <h2 class="fw-bold display-3 text-warning">Company Services Catalog</h2>

      <!-- Download Button -->
      <h1 class="p-3">
        <button class="btn btn-lg btn-danger" (click)="downloadCatalog()">
          <i class="bi bi-arrow-down me-2"></i> Download
        </button>
      </h1>
      <p class="p-3">
        Explore our cutting-edge services that drive business growth through
        captivating storytelling, automation, and digital excellence.
        <span class="text-warning"
          >Whether you're looking to captivate your audience with 3D animations
          & video adverts, supercharge your processes with AI, or establish a
          strong brand presence, we have you covered.</span
        >
      </p>

      <!-- List of Services -->
      <ul class="list-unstyled p-3">
        <li class="mb-2">
          <i class="bi bi-check-circle-fill greentext me-2"></i>
          3D Animations & Visual Simulations
        </li>
        <li class="mb-2">
          <i class="bi bi-check-circle-fill greentext me-2"></i>
          TV Commercials, Adverts & Promo Videos
        </li>
        <li class="mb-2">
          <i class="bi bi-check-circle-fill greentext me-2"></i>
          Business Automation & AI Integration
        </li>
        <li class="mb-2">
          <i class="bi bi-check-circle-fill greentext me-2"></i>
          Company Documentaries & Storytelling Videos
        </li>
        <li class="mb-2">
          <i class="bi bi-check-circle-fill greentext me-2"></i>
          Staff Digital Skilling (AI Tools, Google Suite, Canva, Notion)
        </li>
        <li class="mb-2">
          <i class="bi bi-check-circle-fill greentext me-2"></i>
          Company Website & Online Store Development
        </li>
        <li class="mb-2">
          <i class="bi bi-check-circle-fill greentext me-2"></i>
          Custom Business Software Solutions
        </li>
        <li class="mb-2">
          <i class="bi bi-check-circle-fill greentext me-2"></i>
          Business Branding (Logos, Profiles, Brochures)
        </li>
      </ul>
    </div>
  </div>
</div>
