<div class="container-fluid py-5 p-3 bg-black text-white">
  <div class="row align-items-center">
    <div class="col-md-6 text-center p-3 p-md-5">
      <img
        src="/assets/business.png"
        alt="Company Services"
        class="img-fluid"
      />
    </div>
    <div class="col-md-6 text-left">
      <h2 class="fw-bold display-3 text-warning">Company Services Catalog</h2>
      <button class="btn btn-lg btn-danger mt-3" (click)="downloadCatalog()">
        <i class="bi bi-arrow-down me-2"></i> Download
      </button>
    </div>
  </div>
</div>
