<p class="p-1">
  <button class="toggle-sidenav-btn btn btn-dark" (click)="toggleSidenav()">
    <i class="bi bi-list me-2"></i>{{ isSidenavVisible ? "Hide Menu" : "Menu" }}
  </button>
</p>

<div class="shop-layout">
  <aside class="sidenav" *ngIf="isSidenavVisible">
    <div class="sidenav-header">
      <img src="assets/3dmenu.png" alt="" class="sidenav-logo" />
    </div>
    <ul class="list-group custom-sidebar">
      <li class="list-group-item">
        <a routerLink="kindergarten">
          <i class="bi bi-book-half me-2 icon"></i>Kindergarten Albums
        </a>
      </li>
      <li class="list-group-item">
        <a routerLink="bibles">
          <i class="bi bi-journal-richtext me-2 icon"></i>Bibles
        </a>
      </li>
      <li class="list-group-item">
        <a routerLink="story-books">
          <i class="bi bi-book me-2 icon"></i>Kids' Story Books
        </a>
      </li>
    </ul>
  </aside>

  <main class="shop-main">
    <section class="shop-content">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
