/* Prevent horizontal overflow globally */
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

:root {
  --primary-color: #0642c2;
  --green-text: #7dff69;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

body {
  font-family: "Fredoka", sans-serif !important;
  font-weight: 400;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka", sans-serif !important;
  font-weight: 700 !important;
}

.greentext {
  color: var(--green-text);
}

.btnlarge {
  background-color: #c20674 !important;
  color: white !important;
  border-radius: 50px !important;
  font-size: 1.2rem !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.text-pink {
  color: rgb(209, 0, 105) !important;
}

.text-success {
  color: #4ec13c !important;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  color: white !important;
}