:root {
  --primary-color: #0642c2;
  --green-text: #7dff69;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}
.text-primary {
  color: var(--primary-color) !important;
}
body {
  font-family: "Inter", sans-serif !important;
  font-weight: 400;
}
.greentext {
  color: var(--green-text);
}

.btnlarge {
  background-color: #c20674 !important;
  color: white !important;
  border-radius: 50px !important;
  font-size: 1.2rem !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.text-pink {
  color: rgb(209, 0, 105) !important;
}
