<div class="page-content">
  <div class="cover-section position-relative">
    <p class="top-text">
      Jesus Christ
      <span class="greentext">is LORD</span>
    </p>

    <!-- Background Image -->
    <div
      class="cover-background"
      style="background-image: url('/assets/bg.jpg')"
    ></div>

    <!-- Black Overlay -->
    <div class="cover-overlay"></div>

    <!-- Foreground Content (Image + Button) -->
    <div class="cover-content">
      <img src="/assets/grealmstudio.png" alt="" class="foreground-image" />

      <p class="text-center py-3 px-3">
        <a class="btn btnlarge" href="/shop">See Albums</a>
      </p>
    </div>
  </div>
  <app-new-albums></app-new-albums>
</div>
