<div class="page-content bg-black">
  <div class="cover-section position-relative">
    <p class="top-text">
      Jesus Christ
      <span class="greentext">is LORD</span>
    </p>

    <!-- Background Video -->
    <video
      #backgroundVideo
      autoplay
      muted
      loop
      playsinline
      class="cover-background"
    >
      <source src="/assets/videos/video.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <!-- Black Overlay -->
    <div class="cover-overlay"></div>

    <!-- Foreground Content (Image + Button) -->
    <div class="cover-content">
      <img src="/assets/code.png" alt="" class="foreground-image" />

      <p class="text-center py-3 px-3 d-none">
        <a class="btn btnlarge" href="/shop">See Albums</a>
      </p>
    </div>
  </div>
  <div class="bg-black">
    <h3 class="text-light text-center p-3 display-3">What we do</h3>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 row mb-5 text-center px-md-5">
        <div class="col-md-4">
          <a href="/kids" class="text-decoration-none">
            <div class="m-1 servicebg kids">
              <h1 class="text-center">
                <img src="/assets/toddler.png" alt="" class="" />
              </h1>
              <p class="text-center">
                <button class="btn">Kids' World</button>
              </p>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/schools" class="text-decoration-none">
            <div class="m-1 servicebg school">
              <h1 class="text-center">
                <img src="/assets/teacher2.png" alt="" class="" />
              </h1>
              <p class="text-center">
                <button class="btn">Services for Schools</button>
              </p>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/businesses" class="text-decoration-none">
            <div class="m-1 servicebg business">
              <h1 class="text-center">
                <img src="/assets/businessman.png" alt="" class="" />
              </h1>
              <p class="text-center">
                <button class="btn">Services for Businesses</button>
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <h1 class="fw-bold text-center p-3 pt-5 pb-1 display-3 animated-text">
      <span class="text-danger mx-1">3D ANIMATION</span>
    </h1>
    <h1 class="fw-bold text-center p-3 pb-5 display-3 animated-text">
      <span class="text-info mx-1">&lt; CODE &#47;&gt;</span>
    </h1>
    <h3 class="fw-normal text-secondary text-center p-3 pb-5">
      We Leverage
      <span class="text-warning"> Artificial Intelligence </span> and Modern
      Technology.
    </h3>
  </div>

  <app-new-albums></app-new-albums>
</div>
