.cover-section {
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 40vh; /* Adjusted to cover half of the viewport height */
}

.cover-background {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.cover-overlay {
  background-color: rgba(0, 0, 0, 0.71); /* black layer with 0.5 opacity */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.cover-content {
  position: relative;
  height: 100%;
  z-index: 3;
  display: flex; /* Use Flexbox */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
}

.foreground-image {
  padding-top: 100px;
  max-height: 250px;
  object-fit: contain;
}

.top-text {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10; /* Ensure it stays on top of other elements */
  text-align: center;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .top-text {
    font-size: 16px; /* Adjust font size for smaller screens */
  }
  .foreground-image {
    padding-top: 150px;
    max-width: 100%;
  }
}
.servicebg {
  padding: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.servicebg button {
  min-width: 50%;
}
.kids {
  background-color: #cffdaa;
}
.school {
  background-color: #b5fffd;
}
.school button {
  background-color: #0f4c75;
  color: rgb(255, 255, 255);
}
.business {
  background-color: #fbd6d6;
}
.business button {
  background-color: #9f2323;
  color: rgb(255, 255, 255);
}
.kids button {
  background-color: #538e10;
  color: rgb(255, 255, 255);
}
.servicebg img {
  width: 40%;
}
.ourservices {
  text-align: center;
  padding: 20px;
  color: #538e10;
  font-size: 33px;
  font-weight: 800;
}
